# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

# Creating Set

empty

In [2]:
#this is for dictionary
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [4]:
# proper way to create empty set
s = set()
print(s)
print(type(s))

set()
<class 'set'>

1D ->homogeneous

In [5]:
s = {1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

2D

In [6]:
s = {1,2,3,{4,5}}
print(s)
# you can't crate set inside the set

TypeError: unhashable type: 'set'

heterogeneous

In [18]:
s = {1,'hello',4.5,True,(1,2,3)}
print(s)
# this is because of the hashing fuction it decide in which order to show

{1, (1, 2, 3), 4.5, 'hello'}

using type conversion

In [8]:
s = set([1,2,3])
print(s)

{1, 2, 3}

duplicates not allowed

In [9]:
s = {1,2,3,4,1,4}
print(s)

{1, 2, 3, 4}

set can't have a mutable items

In [10]:
s = {1,2,[3,4]}
print(s)

TypeError: unhashable type: 'list'

In [11]:
s1 = {1,2,3}
s2 = {3,2,1}
result = s1==s2
print(result)

True

# Accessing Items

In [13]:
s = {1,2,3}
print[0]
#because it is unordered so we can't use indexing

TypeError: 'builtin_function_or_method' object is not subscriptable

# Editing Items

In [16]:
s = {1,2,3}
s[0]=100

TypeError: 'set' object does not support item assignment

# Adding Items

add

In [17]:
#it add one item at a time
s = {1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

update

In [20]:
#it add multiple item at a time
s = {1,2,3,4}
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

# Deleting Items

del

In [22]:
s ={1,2,3,4}
print(s)
del s 
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

discard
- it discard item and doesn't through an error when the item is not in set

In [26]:
s ={1,2,3,4}
s.discard(4)
print(s)

{1, 2, 3}

remove
- it remove item but it through an error when the item is not in set

In [ ]:
s ={1,2,3,4}
s.remove(4)
print(s)

differenece between discard and remove

In [27]:
s ={1,2,3,4}
s.discard(5)
print(s)
# discard doesn't through an error when the item is not in set

{1, 2, 3, 4}

In [25]:
s ={1,2,3,4}
s.remove(5)
print(s)
# remove  through an error when the item is not in set

KeyError: 5

pop
- it delete the random item

In [28]:
s = {1,2,3,4}
print(s)
s.pop()
print(s)

{1, 2, 3, 4}
{2, 3, 4}

clear
- it clear the item inside the set

In [3]:
s = {1,2,3,4}
s.clear()
print(s)

set()

# Set Operation

Union(|)
- it print the all the item present in both set and it doesn't allow duplicate

In [4]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s = s1|s2
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

intersection(&)
- it print the common item present in both set

In [5]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s = s1&s2
print(s)

{4, 5}

difference(-)
- it print the one set value except the common and other set value like in A-B it print the item in the set A except common with set B and the set B values

In [33]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s = s1-s2
print(s)

{1, 2, 3}

In [34]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s = s2-s1
print(s)

{8, 6, 7}

symmetric difference(^)
- it print all the value except intersection value

In [35]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s = s1^s2
print(s)

{1, 2, 3, 6, 7, 8}

Membership

In [37]:
s1 = {1,2,3,4,5}
print(1 in s1)
print(1 not in s1)

True
False

Iteration

In [38]:
s = {1,2,3,4,5}
for i in s:
    print(i)

1
2
3
4
5

# Set Function

len

In [40]:
s = {1,2,3,4,5}
print(len(s))

5

min

In [41]:
s = {1,2,3,4,5}
print(min(s))

1

max

In [42]:
s = {1,2,3,4,5}
print(max(s))

5

sum

In [43]:
s = {1,2,3,4,5}
print(sum(s))

15

sorted

In [44]:
s = {2,4,5,1,3}
print(sorted(s))
print(sorted(s,reverse=True))

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

### union/update

union

In [47]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

update

In [46]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

### intersection/intersection_update

intersection

In [48]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))

{4, 5}

intersection_update

In [49]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

### difference/difference_update

difference

In [50]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.difference(s2))

{1, 2, 3}

difference_update

In [52]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

# symmetric_difference/symmetric_difference_update

symmetric_difference

In [53]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.symmetric_difference(s2))

{1, 2, 3, 6, 7, 8}

symmetric_difference_update

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

### isdisjoint
- two sets are said to be disjoint sets if they have no element in common.

In [54]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.isdisjoint(s2)

False

In [55]:
s1 = {1,2,3,4,5}
s2 = {6,7,8}
s1.isdisjoint(s2)

True

### subset
-  If all the elements of set A are also the elements of set B, then set A is called the subset of set B.

In [56]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.issubset(s2)

False

In [59]:
s1 = {1,2,3,4,5}
s2 = {4,5}
s2.issubset(s1)

True

### superset
- Set A is called the superset of another set B if all elements of set B are elements of set A.

In [60]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.issuperset(s2)

False

In [62]:

s1 = {1,2,3,4,5}
s2 = {4,5}
s1.issuperset(s2)

True

### copy

In [64]:
s1 = {1,2,3}
s2 = s1.copy()
print(s1)
print(s2)
print(id(s1))
print(id(s2))

{1, 2, 3}
{1, 2, 3}
133303750535072
133303842962144

# Frozenset
Frozen set is just an immutable version of a Python set object

### create frozenset

In [65]:
fs = frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

- what works and what does not
- works -> all read functions
- does't work -> write operations

In [67]:
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([3,4,5,6])
print(fs1|fs2)
print(fs1&fs2)
print(fs1-fs2)
print(fs1^fs2)

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

#### when to use
- when you only want to read and doesn't want any changes

### 2D set

In [69]:
fs = frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

### Set Comprehension

In [70]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}